# Binários
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.mp3 binary
*.ogg binary
*.ttf binary
*.otf binary
*.zip binary
*.aab binary
*.apk binary

# Texto
*.gd text eol=lf
*.gdshader text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.cfg text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.py text eol=lf
